body{
    background: greenyellow;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}


.container {
    top: 50%;
    left: 50%;
    position: absolute;
    background: #e0e0e0 ;
    cursor: grab;
    text-align: center;
    width: 260px;
    margin: 0, auto;
    font-size:18px;
    height: 60px;
    place-content: center;
    border-radius: 50px;
  box-shadow:  5px 5px 10px #c1c1c1,
               -5px -5px 10px #ffffff;
  }